.cardList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#title_container{
    display: flex;
    color: black;
    box-sizing: border-box;
    border: .2rem rgb(149, 143, 143) solid;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    left:0;
    top:0;
    background-color: rgb(146, 210, 238);
  }


.button_container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.board_page_button {
    height: 50px;
    cursor: pointer;
    margin: 10px;
}

.board_page_button:hover {
    background-color: rgb(146, 210, 238);

}