.cardList {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 100px; */
    flex-direction: row;
    width: 100%;
    justify-content: center;
}



.button_container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.board_page_button {
    height: 50px;
    cursor: pointer;
    margin: 10px;
}

.board_page_button:hover {
    background-color: rgb(146, 210, 238);

}