.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.btn-modal {
    width: auto;
    display: flex;
    justify-content: center;
}

.create_button{
    cursor: pointer;
    height: 50px;
    margin:10px;
}

.view-button {
    padding-left: 7px;
    padding-right: 7px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal_content {

    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50%;
    overflow-y: auto;
    max-height: 80%;
    cursor: default;
    z-index: 10;
    background-color: white;
    
    }



.title{
    width: 100%;
    margin: 20px;
    height: 30px;
    
}

.author{
    width: 100%;
    margin:20px;
    height: 30px;
}


.form_container{
    display: flex;
    justify-content: center;
}

.form_container h2{
    text-align: center;
}






.modal_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.close_modal:hover, .create_board {
    cursor: pointer;
}

.create_close_container{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}



.gif_container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top:10px;
}

.gif{
    width: 100px;
    height: 100px;
    cursor: pointer;
}